body {
  background: cornflowerblue;
}

.choose-pokemon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pokemon-picker {
  width: 30%;
  max-height: 200px;
}

div img {
  width: 200px;
  height: 200px;
}

.modal {
	background-color: rgba(0,0,0,0.4);
  position: static;
	top: 0;
	left: 0; */
	height: 100%;
	width: 100%;
	z-index: 1;
  display: none;
}
