body {
  background: cornflowerblue;
}

.choose-pokemon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokemon-picker {
  width: 30%;
  max-width: 300px;
  max-height: 200px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.choose-pokemon > h3 {
  width: 100%;
  text-align: center;
}

div img {
  width: 100%;
  height: 100%;
}

.modal {
	background-color: rgba(0,0,0,0.7);
  color: white;
  padding-left: 10px;
  position: absolute;
	top: 25px;
	left: 0; */
	height: 100%;
	width: 100%;
	z-index: 1;
  display: none;
}

.poke-type {
  text-transform: capitalize;
}

.click-to-pick {
  background: gray;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
}

.battle-play {
  display: none;
  flex-direction: row;
  justify-content: space-between;
}

.players-pokemon {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  border-radius: 3px;
}

.players-pokemon-photo {
  align-self: center;
  width: 250px;
  height: 250px;
}

.current-pokemon-name {
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-size: 2em;
  width: 100%;
}

.pokemon-move {
  color: white;
  text-align: center;
  width: 25%;
  margin: 3% 10%;
  font-size: 1.2em;
  background: gray;
  padding: 5px;

}

.opponent-area {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  border-radius: 3px;
}

.xp-stats {
  width: 100%;
  text-align: center;
  font-size: 1.2em
}
