body {
  background: cornflowerblue;
  font-family: 'Rubik', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.header{
  width: 100%;
    font-size: 1.75em;
    text-align: center;
    border-bottom: 1px solid black;
}

.header > h1 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.choose-pokemon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokemon-picker {
  width: 30%;
  max-width: 300px;
  max-height: 200px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.choose-pokemon > h3 {
  width: 100%;
  text-align: center;
}

div img {
  width: 100%;
  height: 100%;
}

.modal {
	background-color: rgba(0,0,0,0.7);
  color: white;
  padding-left: 10px;
  position: absolute;
	top: 25px;
	left: 0; */
	height: 100%;
	width: 100%;
	z-index: 1;
  display: none;
}

.poke-type {
  text-transform: capitalize;
}

.click-to-pick {
  background: gray;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  padding: 4px;
}

#confirm {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.battle-play {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.players-pokemon {
  width: 25%;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  border-radius: 3px;
}

.players-pokemon-photo {
  align-self: center;
  width: 250px;
  height: 250px;
}

.current-pokemon-name {
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-size: 2em;
  width: 100%;
}

.battle-attack-picker {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .pokemon-move {
  color: white;
  text-align: center;
  width: 25%;
  margin: 3% 10%;
  font-size: 1.2em;
  background: gray;
  padding: 5px;
} */

.opponent-area {
  width: 25%;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  border-radius: 3px;
}

.xp-stats {
  width: 100%;
  text-align: center;
  font-size: 1.2em
}

.click-area {
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
}

#start-battle {
  font-size: 2em;
  text-align: center;
  height: 50px;
  color: white;
  background-color: gray;
  border: 1px solid black;
  padding: 5px;
}

.opponent-attack-text {
  text-align: center;
  width: 100%;
}

.choice-button {
  text-align: center;
  padding: 3px;
  background: gray;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  margin: 4px;
}

.other-options {
  width: 70%;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}

.shop {
  width: 15%;
  min-width: 100px;
  border: 1px solid black;
  position: relative;
}

.shop > img {
  width: 100%;
  display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 50%;
    transition: .3s ease;
    opacity:0;
    color: white;
    font-size: 1em;
    padding: 20px;
    text-align: center;
  }

.shop:hover > .overlay {
  opacity: 1;
}

.available:hover {
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.locked {
  background-color: black;
  opacity: 0.5;
}

.fainted {
  transform: rotate(500deg) scale(0.01);
  transition-duration: 4s;
}

.winner {
  animation-name: winner-winner;
  animation-duration: 2500ms;
  animation-iteration-count: 1;
}

@keyframes winner-winner {
  33% {transform: rotate(-45deg)}
  66% {transform: rotate(45deg)}
  100% {transform: rotate(0deg)}
}

.pokemart {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-between;
}

.new-shop {
  border: 3px solid yellow;
}

.left {
  width: 35%;
  max-width: 150px;
  margin: 0;
}

.welcome {
  width: 60%;
}

.pokemon-center {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-between;
}

.player-attack-animation {
  animation-name: player-attack;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
}

@keyframes player-attack {
  30% {transform: translateY(-15px) translateX(15px)}
  60% {transform: translateY(0) translateX(30px)}
  100% {transform: translateY(0) translateX(0)}
}

.opponent-attack-animation
